######################
# Eclipse
######################
.project
.classpath
.settings/

######################
# Maven/Build
######################
target/
tmp/
*.releaseBackup

######################
# Project Specific
######################

# embedded databases runwar
.idea
.vscode/
